# Асосҳои Pandas

Дар ин ноутбук мо бо имкониятҳои асосии `pandas` шинос хоҳем шуд. Ин модул ҳаҷми бузург дорад, бинобар ин мо танҳо як миқдори маҳдуди онро меомӯзем ва машқ мекунем. [Маълумоти муфассал](https://pandas.pydata.org/docs/reference/index.html)

Тартибдиҳанда: Ҳакимов Раҳматҷон. Email: rahmatjon@gmail.com. Telegram: https://t.me/rahmatjon_hakimov

# Шиносоии аввлин

Истифодаи pandas-ро эълон мекунем:

In [2]:
import pandas as pd  # pd лақаб барои pandas

Маълумотро аз csv-файл мехонем:

In [3]:
data = pd.read_csv('purchases.csv', sep = ';')

Дар тағйирёбандаи data чӣ ҳаст?

In [4]:
data

,date,item,volume,price,market
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр
3,2024-06-27,Гелос 1 (492),0.306,34.90,Амид 19мкр
4,2024-06-27,Помидор 103 м,0.962,3.80,Амид 19мкр
5,NaN,Болгарский 407,0.668,16.30,Амид 19мкр
6,2024-05-17,NaN,1.000,0.20,Амид 19мкр
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,Доро
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,Доро
9,2024-05-09,Помидоры т/т,0.350,19.60,Доро
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,Доро
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,Доро
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,Доро
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,Доро
14,2024-05-09,Огурцы т/т,0.228,4.90,Доро
15,2024-05-09,БАНАНЫ,1.036,23.90,Доро
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,Доро
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,Оазис
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,Оазис
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,Оазис
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,Оазис
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,NaN
22,NaN,Дрожжи Юва 15гр.,1.000,1.60,NaN
23,NaN,Масло Мол/р Сливоч 150гр марг,1.000,2.55,NaN

Аз ин чоп тасаввуроти умумӣ оиди мӯҳтавои файли purchases.csv гирифтан мумкин аст.

Аён аст, ки дар ҷадвал ҳам маълумоти ададӣ ва ҳам маълумоти сифатӣ/сатрӣ нигоҳ дошта шуда метавонад.

Намуди тағйирёбандаи data:

In [5]:
type(data)

pandas.core.frame.DataFrame

Шарҳи маълумоти дар сутунҳо сабтшуда:
 - *date* - санаи харид
 - *item* - номгӯи маҳсулот
 - *volume* - миқдори харидашуда
 - *price* - нарх
 - *market* - мағоза

Андозаи ҷадвалро мебинем:

In [6]:
data.shape

(24, 5)

Барои чоп кардани ҳамагӣ якчанд сатри ҷадвал аз методи `head` истифода мебарем:

In [7]:
data.head() # .head(x) x - по умолчанию => 5, x = min(x, .shape[0])

,date,item,volume,price,market
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр
3,2024-06-27,Гелос 1 (492),0.306,34.90,Амид 19мкр
4,2024-06-27,Помидор 103 м,0.962,3.80,Амид 19мкр

In [8]:
data.head(3)

,date,item,volume,price,market
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр

Тағйирёбандаи data ва натиҷаи data.head() як намуд доранд:

In [9]:
type(data.head())

pandas.core.frame.DataFrame

Барои гирифтани маълумот оиди мӯҳтавои ҷадвал аз методи `info` истифода мебаранд:

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    21 non-null     object
 1   item    23 non-null     object
 2   volume  24 non-null     float64
 3   price   24 non-null     float64
 4   market  21 non-null     object
dtypes: float64(2), object(3)
memory usage: 1.1+ KB

Омори (статистикаи) содда барои майдонҳои ададии ҷадвали data (методи `describe`):

In [11]:
data.describe()

          volume       price
count  24.000000   24.000000
mean    0.870583   24.646667
std     0.790454   35.680288
min     0.208000    0.150000
25%     0.348500    3.712500
50%     0.981000    8.725000
75%     1.000000   22.475000
max     4.000000  120.600000

In [12]:
y = data.head(6)
y.describe()

         volume      price
count  6.000000   6.000000
mean   0.621333  12.153333
std    0.304175  12.020585
min    0.306000   3.800000
25%    0.395000   5.087500
50%    0.533000   6.485000
75%    0.888500  14.092500
max    1.000000  34.900000

In [13]:
y

,date,item,volume,price,market
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр
3,2024-06-27,Гелос 1 (492),0.306,34.90,Амид 19мкр
4,2024-06-27,Помидор 103 м,0.962,3.80,Амид 19мкр
5,NaN,Болгарский 407,0.668,16.30,Амид 19мкр

Сутуни алоҳидаи DataFrame тавассути номаш дастрас мешавад:

In [14]:
data['price']

0       7.47
1       5.50
2       4.95
3      34.90
4       3.80
5      16.30
6       0.20
7      11.50
8       9.45
9      19.60
10    115.80
11     57.00
12     94.00
13    120.60
14      4.90
15     23.90
16      8.00
17      3.10
18      3.45
19     22.00
20      0.15
21     20.80
22      1.60
23      2.55
Name: price, dtype: float64

In [15]:
type(data['price'])

pandas.core.series.Series

Бо сутунҳо амалҳоро элемент-ба-элемент иҷро кардан мумкин аст:

In [16]:
data['price'] * data['volume']

0      7.4700
1      2.1890
2      1.9503
3     10.6794
4      3.6556
5     10.8884
6      0.2000
7     11.5000
8      9.4500
9      6.8600
10    24.0864
11    15.9600
12    32.3360
13    27.4968
14     1.1172
15    24.7604
16    16.0000
17    12.4000
18     3.4500
19    22.0000
20     0.1500
21    10.2336
22     1.6000
23     2.5500
dtype: float64

Ба ҷадвали data сутуни нав илова кардан мумкин аст:

In [17]:
data['summa'] = data['price'] * data['volume']
data.head(10)

,date,item,volume,price,market,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр,7.4700
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр,2.1890
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр,1.9503
3,2024-06-27,Гелос 1 (492),0.306,34.90,Амид 19мкр,10.6794
4,2024-06-27,Помидор 103 м,0.962,3.80,Амид 19мкр,3.6556
5,NaN,Болгарский 407,0.668,16.30,Амид 19мкр,10.8884
6,2024-05-17,NaN,1.000,0.20,Амид 19мкр,0.2000
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,Доро,11.5000
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,Доро,9.4500
9,2024-05-09,Помидоры т/т,0.350,19.60,Доро,6.8600

Ҳамаи тағйиротҳои ҷадвал дар хотираи фаврӣ (дар тағйирёбандаҳо Python) нигоҳ дошта мешаванд; ба маълумоти файл таъсир намерасонанд:

In [18]:
demo_data = pd.read_csv('purchases.csv', sep = ';')
demo_data.columns

Index(['date', 'item', 'volume', 'price', 'market'], dtype='object')

In [19]:
data.to_csv('purchases_new.csv', sep=';', index=False, encoding='utf-8')

Сутуни ҷадвалро бо воситаи `del` ё методи `pop` хориҷ (delete) кардан мумкин аст:

In [20]:
del data['market']  # Тарзи дигар: data.pop('market')

In [21]:
data.head()

,date,item,volume,price,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.4700
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.1890
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.9503
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.6794
4,2024-06-27,Помидор 103 м,0.962,3.80,3.6556

Сутунҳои ҷадвали pandas ҳамчун массиви дарозиаш тағйирёбанда ҳастанд. Сутунҳо соҳиби бисёр методҳои барои аналитика/таҳлил муфид мебошанд:

In [22]:
data['item']

0           Плит шок Нестле 82гр Горький шоколад 70%
1                                    Огурцы Орзу 104
2                                      Огурцы Т 3960
3                                      Гелос 1 (492)
4                                      Помидор 103 м
5                                     Болгарский 407
6                                                NaN
7                                   Пряники "Ягодка"
8               Напиток "Fanta" апельсин-яблоко 1,25
9                                       Помидоры т/т
10               Конфеты "Бабаевские" трюфел/крем РТ
11                           Конфеты "Тотти" Suvorov
12        Конфеты "Бабаевские" с фундуком и какао РТ
13    Конфеты "Вдохновение" Миндаль и Фундук Крем РТ
14                                        Огурцы т/т
15                                            БАНАНЫ
16                              Напиток "RC Cola" 1л
17            Мороженое "Ты+Я" Дусти Алишер (565828)
18                               3.45 с Хлеб (43425)
19                               Тухм 30 шт (566084)
20                        0.15 с Пакет маль. (11421)
21                              Арахис в глазуре 626
22                                  Дрожжи Юва 15гр.
23                     Масло Мол/р Сливоч 150гр марг
Name: item, dtype: object

In [23]:
type(data['item'])

pandas.core.series.Series

In [24]:
help(pd.core.series.Series.value_counts)

Help on function value_counts in module pandas.core.base:

value_counts(self, normalize: 'bool' = False, sort: 'bool' = True, ascending: 'bool' = False, bins=None, dropna: 'bool' = True) -> 'Series'
    Return a Series containing counts of unique values.

    The resulting object will be in descending order so that the
    first element is the most frequently-occurring element.
    Excludes NA values by default.

    Parameters
    ----------
    normalize : bool, default False
        If True then the object returned will contain the relative
        frequencies of the unique values.
    sort : bool, default True
        Sort by frequencies when True. Preserve the order of the data when False.
    ascending : bool, default False
        Sort in ascending order.
    bins : int, optional
        Rather than count values, group them into half-open bins,
        a convenience for ``pd.cut``, only works with numeric data.
    dropna : bool, default True
        Don't include counts of NaN.

    Returns
    -------
    Series

    See Also
    --------
    Series.count: Number of non-NA elements in a Series.
    DataFrame.count: Number of non-NA elements in a DataFrame.
    DataFrame.value_counts: Equivalent method on DataFrames.

    Examples
    --------
    >>> index = pd.Index([3, 1, 2, 3, 4, np.nan])
    >>> index.value_counts()
    3.0    2
    1.0    1
    2.0    1
    4.0    1
    Name: count, dtype: int64

    With `normalize` set to `True`, returns the relative frequency by
    dividing all values by the sum of values.

    >>> s = pd.Series([3, 1, 2, 3, 4, np.nan])
    >>> s.value_counts(normalize=True)
    3.0    0.4
    1.0    0.2
    2.0    0.2
    4.0    0.2
    Name: proportion, dtype: float64

    **bins**

    Bins can be useful for going from a continuous variable to a
    categorical variable; instead of counting unique
    apparitions of values, divide the index in the specified
    number of half-open bins.

    >>> s.value_counts(bins=3)
    (0.996, 2.0]    2
    (2.0, 3.0]      2
    (3.0, 4.0]      1
    Name: count, dtype: int64

    **dropna**

    With `dropna` set to `False` we can also see NaN index values.

    >>> s.value_counts(dropna=False)
    3.0    2
    1.0    1
    2.0    1
    4.0    1
    NaN    1
    Name: count, dtype: int64

In [25]:
count_of_markets = demo_data['market'].value_counts()
count_of_markets

market
Доро          10
Амид 19мкр     7
Оазис          4
Name: count, dtype: int64

In [26]:
type(count_of_markets)

pandas.core.series.Series

In [27]:
count_of_volumes = demo_data['volume'].value_counts()
count_of_volumes

volume
1.000    9
0.228    2
0.398    1
0.394    1
0.306    1
0.962    1
0.668    1
0.350    1
0.208    1
0.280    1
0.344    1
1.036    1
2.000    1
4.000    1
0.492    1
Name: count, dtype: int64

In [28]:
date_group = demo_data['date'].value_counts()

In [29]:
type(date_group)

pandas.core.series.Series

In [30]:
date_group

date
2024-05-09    10
2024-06-27     5
2024-07-15     4
2024-05-17     1
2024-05-29     1
Name: count, dtype: int64

In [31]:
int(count_of_markets['Оазис'])

4

In [32]:
date_group['2024-05-09']

np.int64(10)

In [82]:
data['price'].sort_values(ascending=False)[:5]

11    120.6
8     115.8
10     94.0
9      57.0
3      34.9
Name: price, dtype: float64

In [83]:
data['price'].sort_values(ascending=False).head()

11    120.6
8     115.8
10     94.0
9      57.0
3      34.9
Name: price, dtype: float64

In [86]:
data['price'].sort_values(ascending=False).tail()

12    4.90
4     3.80
16    3.45
15    3.10
18    0.15
Name: price, dtype: float64

In [92]:
data.sort_values(ascending=False,by = 'summa')

,date,item,volume,price,summa
10,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.3360
11,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.4968
13,2024-05-09,БАНАНЫ,1.036,23.90,24.7604
8,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.0864
17,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.0000
14,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.0000
9,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.9600
15,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.4000
5,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.5000
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.6794
6,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.4500
0,2024-06-27,Плит шок Победа 82гр Горький шоколад 70%,1.000,7.47,7.4700
7,2024-05-09,Помидоры т/т,0.350,19.60,6.8600
4,2024-06-27,Помидор 103 м,0.962,3.80,3.6556
16,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.4500
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.1890
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.9503
12,2024-05-09,Огурцы т/т,0.228,4.90,1.1172
18,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.1500

In [94]:
data['price'] > 6

0      True
1     False
2     False
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13     True
14     True
15    False
16    False
17     True
18    False
Name: price, dtype: bool

In [96]:
data[data['summa'] > 6].sort_values(ascending=False,by = 'summa')

,date,item,volume,price,summa
10,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.3360
11,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.4968
13,2024-05-09,БАНАНЫ,1.036,23.90,24.7604
8,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.0864
17,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.0000
14,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.0000
9,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.9600
15,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.4000
5,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.5000
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.6794
6,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.4500
0,2024-06-27,Плит шок Победа 82гр Горький шоколад 70%,1.000,7.47,7.4700
7,2024-05-09,Помидоры т/т,0.350,19.60,6.8600

In [98]:
demo_data[demo_data['market'].isin(['Доро', 'Оазис'])]

,date,item,volume,price,market
5,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,Доро
6,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,Доро
7,2024-05-09,Помидоры т/т,0.350,19.60,Доро
8,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,Доро
9,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,Доро
10,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,Доро
11,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,Доро
12,2024-05-09,Огурцы т/т,0.228,4.90,Доро
13,2024-05-09,БАНАНЫ,1.036,23.90,Доро
14,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,Доро
15,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,Оазис
16,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,Оазис
17,2024-07-15,Тухм 30 шт (566084),1.000,22.00,Оазис
18,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,Оазис

In [54]:
data['sum'] = data['summa'].apply(lambda sum : round(sum, 2))

In [58]:
data

,date,item,volume,price,summa,new_sum,sum
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.4700,7.47,7.47
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.1890,2.19,2.19
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.9503,1.95,1.95
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.6794,10.68,10.68
4,2024-06-27,Помидор 103 м,0.962,3.80,3.6556,3.66,3.66
5,NaN,Болгарский 407,0.668,16.30,10.8884,10.89,10.89
6,2024-05-17,NaN,1.000,0.20,0.2000,0.20,0.20
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.5000,11.50,11.50
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.4500,9.45,9.45
9,2024-05-09,Помидоры т/т,0.350,19.60,6.8600,6.86,6.86
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.0864,24.09,24.09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.9600,15.96,15.96
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.3360,32.34,32.34
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.4968,27.50,27.50
14,2024-05-09,Огурцы т/т,0.228,4.90,1.1172,1.12,1.12
15,2024-05-09,БАНАНЫ,1.036,23.90,24.7604,24.76,24.76
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.0000,16.00,16.00
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.4000,12.40,12.40
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.4500,3.45,3.45
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.0000,22.00,22.00
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.1500,0.15,0.15
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,10.2336,10.23,10.23
22,NaN,Дрожжи Юва 15гр.,1.000,1.60,1.6000,1.60,1.60
23,NaN,Масло Мол/р Сливоч 150гр марг,1.000,2.55,2.5500,2.55,2.55

In [48]:
new_data

,date,item,volume,price,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.00,7.47,7.47
1,2024-06-27,Огурцы Орзу 104,0.40,5.50,2.19
2,2024-06-27,Огурцы Т 3960,0.39,4.95,1.95
3,2024-06-27,Гелос 1 (492),0.31,34.90,10.68
4,2024-06-27,Помидор 103 м,0.96,3.80,3.66
5,NaN,Болгарский 407,0.67,16.30,10.89
6,2024-05-17,NaN,1.00,0.20,0.20
7,2024-05-09,"Пряники ""Ягодка""",1.00,11.50,11.50
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.00,9.45,9.45
9,2024-05-09,Помидоры т/т,0.35,19.60,6.86
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.21,115.80,24.09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.28,57.00,15.96
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.34,94.00,32.34
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.23,120.60,27.50
14,2024-05-09,Огурцы т/т,0.23,4.90,1.12
15,2024-05-09,БАНАНЫ,1.04,23.90,24.76
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.00,8.00,16.00
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.00,3.10,12.40
18,2024-07-15,3.45 с Хлеб (43425),1.00,3.45,3.45
19,2024-07-15,Тухм 30 шт (566084),1.00,22.00,22.00
20,2024-07-15,0.15 с Пакет маль. (11421),1.00,0.15,0.15
21,2024-05-29,Арахис в глазуре 626,0.49,20.80,10.23
22,NaN,Дрожжи Юва 15гр.,1.00,1.60,1.60
23,NaN,Масло Мол/р Сливоч 150гр марг,1.00,2.55,2.55

In [59]:
del data['new_sum']

In [60]:
data

,date,item,volume,price,summa,sum
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.4700,7.47
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.1890,2.19
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.9503,1.95
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.6794,10.68
4,2024-06-27,Помидор 103 м,0.962,3.80,3.6556,3.66
5,NaN,Болгарский 407,0.668,16.30,10.8884,10.89
6,2024-05-17,NaN,1.000,0.20,0.2000,0.20
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.5000,11.50
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.4500,9.45
9,2024-05-09,Помидоры т/т,0.350,19.60,6.8600,6.86
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.0864,24.09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.9600,15.96
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.3360,32.34
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.4968,27.50
14,2024-05-09,Огурцы т/т,0.228,4.90,1.1172,1.12
15,2024-05-09,БАНАНЫ,1.036,23.90,24.7604,24.76
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.0000,16.00
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.4000,12.40
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.4500,3.45
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.0000,22.00
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.1500,0.15
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,10.2336,10.23
22,NaN,Дрожжи Юва 15гр.,1.000,1.60,1.6000,1.60
23,NaN,Масло Мол/р Сливоч 150гр марг,1.000,2.55,2.5500,2.55

In [61]:
data['summa'] = data['sum']

In [62]:
del data['sum']

In [63]:
data

,date,item,volume,price,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.47
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.19
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.95
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.68
4,2024-06-27,Помидор 103 м,0.962,3.80,3.66
5,NaN,Болгарский 407,0.668,16.30,10.89
6,2024-05-17,NaN,1.000,0.20,0.20
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.50
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.45
9,2024-05-09,Помидоры т/т,0.350,19.60,6.86
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.96
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.34
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.50
14,2024-05-09,Огурцы т/т,0.228,4.90,1.12
15,2024-05-09,БАНАНЫ,1.036,23.90,24.76
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.00
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.40
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.45
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.00
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.15
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,10.23
22,NaN,Дрожжи Юва 15гр.,1.000,1.60,1.60
23,NaN,Масло Мол/р Сливоч 150гр марг,1.000,2.55,2.55

In [68]:
data.to_excel('purchases_new_excel.xlsx', index=False)

In [106]:
xlsx_data = pd.read_excel('purchases_new_excel.xlsx')

In [70]:
xlsx_data

,date,item,volume,price,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.47
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.19
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.95
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.68
4,2024-06-27,Помидор 103 м,0.962,3.80,3.66
5,NaN,Болгарский 407,0.668,16.30,10.89
6,2024-05-17,NaN,1.000,0.20,0.20
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.50
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.45
9,2024-05-09,Помидоры т/т,0.350,19.60,6.86
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.96
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.34
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.50
14,2024-05-09,Огурцы т/т,0.228,4.90,1.12
15,2024-05-09,БАНАНЫ,1.036,23.90,24.76
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.00
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.40
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.45
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.00
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.15
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,10.23
22,NaN,Дрожжи Юва 15гр.,1.000,1.60,1.60
23,NaN,Масло Мол/р Сливоч 150гр марг,1.000,2.55,2.55

In [71]:
xlsx_data.drop(22)

,date,item,volume,price,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.47
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.19
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.95
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.68
4,2024-06-27,Помидор 103 м,0.962,3.80,3.66
5,NaN,Болгарский 407,0.668,16.30,10.89
6,2024-05-17,NaN,1.000,0.20,0.20
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.50
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.45
9,2024-05-09,Помидоры т/т,0.350,19.60,6.86
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.96
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.34
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.50
14,2024-05-09,Огурцы т/т,0.228,4.90,1.12
15,2024-05-09,БАНАНЫ,1.036,23.90,24.76
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.00
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.40
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.45
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.00
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.15
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,10.23
23,NaN,Масло Мол/р Сливоч 150гр марг,1.000,2.55,2.55

In [72]:
xlsx_data

,date,item,volume,price,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.47
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.19
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.95
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.68
4,2024-06-27,Помидор 103 м,0.962,3.80,3.66
5,NaN,Болгарский 407,0.668,16.30,10.89
6,2024-05-17,NaN,1.000,0.20,0.20
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.50
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.45
9,2024-05-09,Помидоры т/т,0.350,19.60,6.86
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.96
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.34
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.50
14,2024-05-09,Огурцы т/т,0.228,4.90,1.12
15,2024-05-09,БАНАНЫ,1.036,23.90,24.76
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.00
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.40
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.45
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.00
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.15
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,10.23
22,NaN,Дрожжи Юва 15гр.,1.000,1.60,1.60
23,NaN,Масло Мол/р Сливоч 150гр марг,1.000,2.55,2.55

In [77]:
xlsx_data.dropna()

,date,item,volume,price,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.47
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.19
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.95
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.68
4,2024-06-27,Помидор 103 м,0.962,3.80,3.66
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.50
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.45
9,2024-05-09,Помидоры т/т,0.350,19.60,6.86
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.96
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.34
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.50
14,2024-05-09,Огурцы т/т,0.228,4.90,1.12
15,2024-05-09,БАНАНЫ,1.036,23.90,24.76
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.00
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.40
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.45
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.00
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.15
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,10.23

In [107]:
import datetime
xlsx_data['data'] = xlsx_data['date'].fillna(datetime.datetime.now().date())

In [109]:
xlsx_data

,date,item,volume,price,summa,data
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.47,2024-06-27
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.19,2024-06-27
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.95,2024-06-27
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.68,2024-06-27
4,2024-06-27,Помидор 103 м,0.962,3.80,3.66,2024-06-27
5,NaN,Болгарский 407,0.668,16.30,10.89,2024-07-29
6,2024-05-17,NaN,1.000,0.20,0.20,2024-05-17
7,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,11.50,2024-05-09
8,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,9.45,2024-05-09
9,2024-05-09,Помидоры т/т,0.350,19.60,6.86,2024-05-09
10,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,24.09,2024-05-09
11,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,15.96,2024-05-09
12,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,32.34,2024-05-09
13,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,27.50,2024-05-09
14,2024-05-09,Огурцы т/т,0.228,4.90,1.12,2024-05-09
15,2024-05-09,БАНАНЫ,1.036,23.90,24.76,2024-05-09
16,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,16.00,2024-05-09
17,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,12.40,2024-07-15
18,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,3.45,2024-07-15
19,2024-07-15,Тухм 30 шт (566084),1.000,22.00,22.00,2024-07-15
20,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,0.15,2024-07-15
21,2024-05-29,Арахис в глазуре 626,0.492,20.80,10.23,2024-05-29
22,NaN,Дрожжи Юва 15гр.,1.000,1.60,1.60,2024-07-29
23,NaN,Масло Мол/р Сливоч 150гр марг,1.000,2.55,2.55,2024-07-29