# Асосҳои Pandas

Дар ин ноутбук мо бо имкониятҳои асосии `pandas` шинос хоҳем шуд. Ин модул ҳаҷми бузург дорад, бинобар ин мо танҳо як миқдори маҳдуди онро меомӯзем ва машқ мекунем. [Маълумоти муфассал](https://pandas.pydata.org/docs/reference/index.html)

Тартибдиҳанда: Ҳакимов Раҳматҷон. Email: rahmatjon@gmail.com. Telegram: https://t.me/rahmatjon_hakimov

# Первое знакомство

Истифодаи pandas-ро эълон мекунем:

In [11]:
import pandas as pd  # pd лақаб барои pandas

Маълумотро аз csv-файл мехонем:

In [12]:
data = pd.read_csv('purchases.csv', sep = ';')

Дар тағйирёбандаи data чӣ ҳаст?

In [13]:
data

,date,item,volume,price,market
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр
3,2024-06-27,Гелос 1 (492),0.306,34.90,Амид 19мкр
4,2024-06-27,Помидор 103 м,0.962,3.80,Амид 19мкр
5,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,Доро
6,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,Доро
7,2024-05-09,Помидоры т/т,0.350,19.60,Доро
8,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,Доро
9,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,Доро
10,2024-05-09,"Конфеты ""Бабаевские"" с фундуком и какао РТ",0.344,94.00,Доро
11,2024-05-09,"Конфеты ""Вдохновение"" Миндаль и Фундук Крем РТ",0.228,120.60,Доро
12,2024-05-09,Огурцы т/т,0.228,4.90,Доро
13,2024-05-09,БАНАНЫ,1.036,23.90,Доро
14,2024-05-09,"Напиток ""RC Cola"" 1л",2.000,8.00,Доро
15,2024-07-15,"Мороженое ""Ты+Я"" Дусти Алишер (565828)",4.000,3.10,Оазис
16,2024-07-15,3.45 с Хлеб (43425),1.000,3.45,Оазис
17,2024-07-15,Тухм 30 шт (566084),1.000,22.00,Оазис
18,2024-07-15,0.15 с Пакет маль. (11421),1.000,0.15,Оазис

Аз ин чоп тасаввуроти умумӣ оиди мӯҳтавои файли purchases.csv гирифтан мумкин аст.

Аён аст, ки дар ҷадвал ҳам маълумоти ададӣ ва ҳам маълумоти сифатӣ/сатрӣ нигоҳ дошта шуда метавонад.

Намуди тағйирёбандаи data:

In [18]:
type(data)

pandas.core.frame.DataFrame

Шарҳи маълумоти дар сутунҳо сабтшуда:
 - *date* - санаи харид
 - *item* - номгӯи маҳсулот
 - *volume* - миқдори харидашуда
 - *price* - нарх
 - *market* - мағоза

Андозаи ҷадвалро мебинем:

In [19]:
data.shape

(19, 5)

Барои чоп кардани ҳамагӣ якчанд сатри ҷадвал аз методи `head` истифода мебарем:

In [25]:
data.head()

,date,item,volume,price,market
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр
3,2024-06-27,Гелос 1 (492),0.306,34.90,Амид 19мкр
4,2024-06-27,Помидор 103 м,0.962,3.80,Амид 19мкр

In [26]:
coins.head(3)

,date,item,volume,price,market
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр

Тағйирёбандаи data ва натиҷаи data.head() як намуд доранд:

In [28]:
type(data.head())

pandas.core.frame.DataFrame

Барои гирифтани маълумот оиди мӯҳтавои ҷадвал аз методи `info` истифода мебаранд:

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    19 non-null     object
 1   item    19 non-null     object
 2   volume  19 non-null     float64
 3   price   19 non-null     float64
 4   market  19 non-null     object
dtypes: float64(2), object(3)
memory usage: 892.0+ bytes

Омори (статистикаи) содда барои майдонҳои ададии ҷадвали data (методи `describe`):

In [30]:
data.describe()

          volume       price
count  19.000000   19.000000
mean    0.880737   28.951053
std     0.886135   38.892562
min     0.208000    0.150000
25%     0.325000    4.925000
50%     0.962000    9.450000
75%     1.000000   29.400000
max     4.000000  120.600000

Сутуни алоҳидаи DataFrame тавассути номаш дастрас мешавад:

In [31]:
data['price']

0       7.47
1       5.50
2       4.95
3      34.90
4       3.80
5      11.50
6       9.45
7      19.60
8     115.80
9      57.00
10     94.00
11    120.60
12      4.90
13     23.90
14      8.00
15      3.10
16      3.45
17     22.00
18      0.15
Name: price, dtype: float64

Бо сутунҳо амалҳоро элемент-ба-элемент иҷро кардан мумкин аст:

In [32]:
coins['price'] * coins['volume']

0      7.4700
1      2.1890
2      1.9503
3     10.6794
4      3.6556
5     11.5000
6      9.4500
7      6.8600
8     24.0864
9     15.9600
10    32.3360
11    27.4968
12     1.1172
13    24.7604
14    16.0000
15    12.4000
16     3.4500
17    22.0000
18     0.1500
dtype: float64

Ба ҷадвали data сутуни нав илова кардан мумкин аст:

In [34]:
data['summa'] = coins['price'] * coins['volume']
data.head(10)

,date,item,volume,price,market,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,Амид 19мкр,7.4700
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,Амид 19мкр,2.1890
2,2024-06-27,Огурцы Т 3960,0.394,4.95,Амид 19мкр,1.9503
3,2024-06-27,Гелос 1 (492),0.306,34.90,Амид 19мкр,10.6794
4,2024-06-27,Помидор 103 м,0.962,3.80,Амид 19мкр,3.6556
5,2024-05-09,"Пряники ""Ягодка""",1.000,11.50,Доро,11.5000
6,2024-05-09,"Напиток ""Fanta"" апельсин-яблоко 1,25",1.000,9.45,Доро,9.4500
7,2024-05-09,Помидоры т/т,0.350,19.60,Доро,6.8600
8,2024-05-09,"Конфеты ""Бабаевские"" трюфел/крем РТ",0.208,115.80,Доро,24.0864
9,2024-05-09,"Конфеты ""Тотти"" Suvorov",0.280,57.00,Доро,15.9600

Ҳамаи тағйиротҳои ҷадвал дар хотираи фаврӣ (дар тағйирёбандаҳо Python) нигоҳ дошта мешаванд; ба маълумоти файл таъсир намерасонанд:

In [38]:
demo_data = pd.read_csv('purchases.csv', sep = ';')
demo_data.columns

Index(['date', 'item', 'volume', 'price', 'market'], dtype='object')

Сутуни ҷадвалро бо воситаи `del` ё методи `pop` хориҷ (delete) кардан мумкин аст:

In [39]:
del data['market']  # Тарзи дигар: data.pop('market')

In [40]:
data.head()

,date,item,volume,price,summa
0,2024-06-27,Плит шок Нестле 82гр Горький шоколад 70%,1.000,7.47,7.4700
1,2024-06-27,Огурцы Орзу 104,0.398,5.50,2.1890
2,2024-06-27,Огурцы Т 3960,0.394,4.95,1.9503
3,2024-06-27,Гелос 1 (492),0.306,34.90,10.6794
4,2024-06-27,Помидор 103 м,0.962,3.80,3.6556

Сутунҳои ҷадвали pandas ҳамчун массиви дарозиаш тағйирёбанда ҳастанд. Сутунҳо соҳиби бисёр методҳои барои аналитика/таҳлил муфид мебошанд:

In [41]:
data['item']

0           Плит шок Нестле 82гр Горький шоколад 70%
1                                    Огурцы Орзу 104
2                                      Огурцы Т 3960
3                                      Гелос 1 (492)
4                                      Помидор 103 м
5                                   Пряники "Ягодка"
6               Напиток "Fanta" апельсин-яблоко 1,25
7                                       Помидоры т/т
8                Конфеты "Бабаевские" трюфел/крем РТ
9                            Конфеты "Тотти" Suvorov
10        Конфеты "Бабаевские" с фундуком и какао РТ
11    Конфеты "Вдохновение" Миндаль и Фундук Крем РТ
12                                        Огурцы т/т
13                                            БАНАНЫ
14                              Напиток "RC Cola" 1л
15            Мороженое "Ты+Я" Дусти Алишер (565828)
16                               3.45 с Хлеб (43425)
17                               Тухм 30 шт (566084)
18                        0.15 с Пакет маль. (11421)
Name: item, dtype: object

In [42]:
type(data['item'])

pandas.core.series.Series

In [43]:
help(pd.core.series.Series.value_counts)

Help on function value_counts in module pandas.core.base:

value_counts(self, normalize: 'bool' = False, sort: 'bool' = True, ascending: 'bool' = False, bins=None, dropna: 'bool' = True) -> 'Series'
    Return a Series containing counts of unique values.

    The resulting object will be in descending order so that the
    first element is the most frequently-occurring element.
    Excludes NA values by default.

    Parameters
    ----------
    normalize : bool, default False
        If True then the object returned will contain the relative
        frequencies of the unique values.
    sort : bool, default True
        Sort by frequencies when True. Preserve the order of the data when False.
    ascending : bool, default False
        Sort in ascending order.
    bins : int, optional
        Rather than count values, group them into half-open bins,
        a convenience for ``pd.cut``, only works with numeric data.
    dropna : bool, default True
        Don't include counts of NaN.

    Returns
    -------
    Series

    See Also
    --------
    Series.count: Number of non-NA elements in a Series.
    DataFrame.count: Number of non-NA elements in a DataFrame.
    DataFrame.value_counts: Equivalent method on DataFrames.

    Examples
    --------
    >>> index = pd.Index([3, 1, 2, 3, 4, np.nan])
    >>> index.value_counts()
    3.0    2
    1.0    1
    2.0    1
    4.0    1
    Name: count, dtype: int64

    With `normalize` set to `True`, returns the relative frequency by
    dividing all values by the sum of values.

    >>> s = pd.Series([3, 1, 2, 3, 4, np.nan])
    >>> s.value_counts(normalize=True)
    3.0    0.4
    1.0    0.2
    2.0    0.2
    4.0    0.2
    Name: proportion, dtype: float64

    **bins**

    Bins can be useful for going from a continuous variable to a
    categorical variable; instead of counting unique
    apparitions of values, divide the index in the specified
    number of half-open bins.

    >>> s.value_counts(bins=3)
    (0.996, 2.0]    2
    (2.0, 3.0]      2
    (3.0, 4.0]      1
    Name: count, dtype: int64

    **dropna**

    With `dropna` set to `False` we can also see NaN index values.

    >>> s.value_counts(dropna=False)
    3.0    2
    1.0    1
    2.0    1
    4.0    1
    NaN    1
    Name: count, dtype: int64